# .env.example - скопируйте в .env и заполните
# ============================================
# Базы данных
# ============================================
DB_USER=postgres
DB_PASSWORD=your_secure_password

# Внешние порты (на хосте)
BOOKINGS_DB_EXTERNAL_PORT=5437
EVENTS_DB_EXTERNAL_PORT=5438
USERS_DB_EXTERNAL_PORT=5439

BOOKINGS_DB_HOST=bookings-db
BOOKINGS_DB_PORT=5432
BOOKINGS_DB_NAME=bookings

EVENTS_DB_HOST=events-db
EVENTS_DB_PORT=5432
EVENTS_DB_NAME=events

USERS_DB_HOST=users-db
USERS_DB_PORT=5432
USERS_DB_NAME=users

# ============================================
# Kafka
# ============================================
KAFKA_HOST=kafka
KAFKA_INTERNAL_PORT=29092
KAFKA_EXTERNAL_PORT=9092
KAFKA_CONTROLLER_PORT=9093
KAFKA_BOOTSTRAP_SERVERS=${KAFKA_HOST}:${KAFKA_INTERNAL_PORT}

# ===== JWT (ОБЩИЙ ДЛЯ ВСЕХ СЕРВИСОВ) =====
JWT_SECRET_KEY=your-super-secret-key-min-32-characters-long
JWT_ISSUER=EventBookingService
JWT_AUDIENCE=EventBookingService
JWT_EXPIRY_MINUTES=60

# ============================================
# API порты
# ============================================
BOOKINGS_API_PORT=5001
EVENTS_API_PORT=5002
USERS_API_PORT=5003

# ============================================
# Топики Kafka (через запятую). Пока редактировать не надо
# ============================================
KAFKA_TOPICS=booking-events