# .env.example - скопируйте в .env и заполните
# ============================================
# Базы данных
# ============================================
DB_USER=postgres
DB_PASSWORD=your_secure_password
DB_NAME=postgres
DB_PORT=5432

BOOKINGS_DB_HOST=postgres
BOOKINGS_DB_PORT=5432
BOOKINGS_DB_NAME=bookings_db

EVENTS_DB_HOST=postgres
EVENTS_DB_PORT=5432
EVENTS_DB_NAME=events_db

USERS_DB_HOST=postgres
USERS_DB_PORT=5432
USERS_DB_NAME=users_db

# ============================================
# Kafka
# ============================================
KAFKA_HOST=kafka
KAFKA_INTERNAL_PORT=29092
KAFKA_EXTERNAL_PORT=9092
KAFKA_CONTROLLER_PORT=9093
KAFKA_BOOTSTRAP_SERVERS=${KAFKA_HOST}:${KAFKA_INTERNAL_PORT}
KAFKA_CONSUMER_GROUP=booking-processing
KAFKA_PRODUCER_GROUP=bookings-service

# ====== JWT (ОБЩИЙ ДЛЯ ВСЕХ СЕРВИСОВ) =======
JWT_SECRET=a-string-secret-at-least-256-bits-long
JWT_ISSUER=users-api
JWT_AUDIENCE=events-api, bookings-api
JWT_LIFETIME_MINUTES=60

# ============================================
# API порты
# ============================================
BOOKINGS_API_PORT=5004
EVENTS_API_PORT=5002
USERS_API_PORT=5000
ASPNETCORE_ENVIRONMENT=Development

# ============================================
# PgAdmin
# ============================================
PGADMIN_EMAIL=admin@bookstore.com
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=5050

# ============================================
# Топики Kafka (через запятую)
# ============================================
KAFKA_TOPICS=booking-confirmed